.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bcg-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
}

.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.header {
  &__contacts {
    background-color: $bcg-black-color;
    color: $text-color-white;
    font-size: 12px;
    line-height: 18px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    &_text {
      color: $light-text-color;
    }

    &_link {
      color: $text-color-white;
      padding-left: 5px;
    }

    &_communication {
      display: flex;
      align-items: center;
      box-sizing: content-box;
      width: content-box;

      .header__wrap_link::before {
        content: "Call Us:";
        padding-right: 5px;
      }

      .header__wrap_link {
        text-decoration: none;
        padding-right: 3px;
      }
    }

    .messenger-link {
      padding-left: 13px;
      &:hover {
        transform: scale(1.2);
      }
      &_icon {
        display: block;
      }
    }
  }
}

.main {
  flex-grow: 1;
  &__wrap {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.side-bar {
  grid-column: 1;
  border: 3px dotted $invalid-color;
}

.catalog {
  grid-column: 2;
  border: 3px dotted $invalid-color;
}

.footer {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px dotted $invalid-color;
  }

  &__logo {
    height: auto;
    width: 80px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      transition: 0.3s all;
    }
  }

  &__github {
    text-decoration: none;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      transition: 0.3s all;
    }

    &:before {
      content: '©';
    }
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}