$main-color: #0156FF;
$bg-color-grey: #F5F7FF;
$color-white: #FFFFFF;
$bg-color-black: #020203;
$active-color: #78A962;
$invalid-color: #C94D3F;
$icon-color: #CACDD8;

$text-color: #000000;
$text-color-light: #A2A6B0;
$text-color-grey: #ACACAC;




