$main-color: #0156FF;
$bcg-color: #F5F7FF;
$bcg-black-color: #020203;
$active-color: #78A962;
$invalid-color: #C94D3F;

$text-color: #000000;
$text-color-white: #FFFFFF;
$light-text-color: #A2A6B0;
$grey-text-color: #ACACAC;

