.filter-quantity {
  margin: 20px 0;
  font-weight: 700;
}

.value-filters {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  &__list {
    display: block;
    padding-left: 0;
    list-style-type: none;
    height: auto;
    overflow: overlay;
  }

  &__list-element {
    display: flex;
    justify-content: space-between;
  }
  
  &__element-input {
    margin-right: 5px;
    cursor: pointer;
  }

  &__element-label {
    cursor: pointer;
  }
}

.range-filters {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    margin: 0 auto;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #CACDD8;
  border-radius: 5px;
  padding: 0 5px;

  &__icon {
    height: 16px;
    width: 17px;
    background: url('../../../../assets/icons/search-icon.svg') center center/cover no-repeat;
    opacity: 0.5;
  }

  &__input {
    width: 100%;
    border: none;
    height: 2rem;
    outline: none;
    color: #CACDD8;

    &:focus{
      color: #000000;
    }
  }
}