.footer {
  margin-top: 20px;
  background-color: $bg-color-black;
  padding: 10px 0;
  
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: #ffffff;
      opacity: 0.5;
    }
  }

  &__logo {
    height: auto;
    width: 80px;
    opacity: 0.4;
    transition: 0.3s all;
    
    &:hover {
      opacity: 1;
    }
  }

  &__github {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.3s all;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '©';
    }
  }
}